{% extends "base.html" %}

{% block cuerpo %}
{% load static %}
<div class="row">
  <!-- La columna izquierda -->
  <div class="col-sm-12 col-md-4 col-lg-4 xl-4">
    <h1>Registrar Cliente</h1>
    <div class="card">
      <div class="card-body">
        <form action="registrarCliente/" method="POST"> 
          {% csrf_token %}
          <div class="form-group">
            <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
            placeholder="Código Cliente" minlength="1" maxlength="6" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtnombre" name="txtnombre" class="form-control"
            placeholder="Nombre Cliente" maxlength="100" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txttelefono" name="txttelefono" class="form-control"
            placeholder="telefono Cliente" maxlength="100" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
            placeholder="Direccion Cliente" maxlength="100" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtapellidom" name="txtapellidom" class="form-control"
            placeholder="Apellido Materno Cliente" maxlength="100" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtcuenta" name="txtcuenta" class="form-control"
            placeholder="Cuenta Cliente" maxlength="100" required>
          </div>
          <div class="form-group py-3">
            <input type="text" id="txtapellidop" name="txtapellidop" class="form-control"
            placeholder="Apellido Paterno Cliente" maxlength="100" required>
          </div>
          <div class="form-group py-2">
            <button type="submit" class="btn btn-primary">Guardar Cliente</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- La columna derecha -->
  <div class="col-sm-12 col-md-8 col-lg-8 xl-8">
    <h1>Listado de Clientes</h1>
    <img class="w-50" src="{% static "img/clientes.jpg" %}" alt="miguel" width="100" height="200"/>
    <br>
    <br>
    <!-- Tabla -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">telefono</th>
          <th scope="col">direccion</th>
          <th scope="col">apellidop</th>
          <th scope="col">cuenta</th>
          <th scope="col">Apellidom</th>
        </tr>
      </thead>
      <tbody>
        {% for m in misclientes %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ m.codigo }}</td>
          <td>{{ m.nombre }}</td>
          <td>{{ m.telefono }}</td>
          <td>{{ m.direccion }}</td>
          <td>{{ m.apellidom }}</td>
          <td>{{ m.cuenta }}</td>
          <td>{{ m.apellidop }}</td>
          <td><a href="seleccionarCliente/{{ m.codigo }}" class="btn btn-info">Editar</a></td> <!-- Corrected href -->
          <td><a href="borrarCliente/{{ m.codigo }}" class="btn btn-danger">Borrar</a></td> <!-- Corrected href -->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
