{% extends "base.html" %}

{% block cuerpo %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Empleado</h2>
        <!--targeta-->
        <div class="card">
            <div class="card-body">
              <form action="/editarEmpleado/" method="POST"> {% csrf_token %} <!-- falta action-->
                <div class="form-group">
                  <input type="text" id="txtcodigo" name="txtcodigo" class="form-control"
                  value="{{misnegocios.codigo}}"
                  minlenght="1" maxLenght="6" readonly required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                  value="{{misnegocios.nombre}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                  value="{{misnegocios.direccion}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txttelefono" name="txttelefono" class="form-control"
                  value="{{misnegocios.telefono}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtemail" name="txtemail" class="form-control"
                  value="{{misnegocios.email}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtapellido" name="txtapellido" class="form-control"
                  value="{{misnegocios.apellido}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-3">
                  <input type="text" id="txtid_sucursal" name="txtid_sucursal" class="form-control"
                  value="{{misnegocios.id_sucursal}}"  maxLenght="100" required>
                </div>
                <div class="form-group py-2">
                  <button type="submit" class="btn btn-primary">Editar Empleado</button>
                </div>
              </form>
            </div>
          </div>
    </div>
</div>

{% endblock%}